<!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-header">
          <img src="img/Melati.jfif" alt="Logo" class="logo" />
          <h1 class="brand-name">Melati Gold Young</h1>
        </div>
        <div class="sidebar-menu">
          <ul class="nav flex-column" id="sidebarAccordion">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">
                <i class="fas fa-tachometer-alt"></i>
                <span class="menu-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="maintenance.html">
                <i class="fas fa-tools"></i>
                <span class="menu-text">Maintenance</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#barangSubmenu"
                aria-expanded="false"
              >
                <i class="fa-solid fa-cubes"></i>
                <span class="menu-text">Inventory Barang</span>
                <i class="fas fa-angle-down ms-auto submenu-icon"></i>
              </a>
              <div class="collapse" id="barangSubmenu" data-bs-parent="#sidebarAccordion">
                <ul class="nav flex-column ms-3">
                  <li class="nav-item">
                    <a class="nav-link" href="manajemenStok.html">
                      <i class="fa-solid fa-boxes-stacked"></i>
                      <span class="menu-text">Manajemen Stok</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="laporanStokHarian.html">
                      <i class="fa-solid fa-calendar-days"></i>
                      <span class="menu-text">Laporan Stok Harian</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="mutasiKode.html">
                      <i class="fa-solid fa-calendar-xmark"></i>
                      <span class="menu-text">Mutasi Kode</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="hapus-kode.html">
                      <i class="fa-solid fa-folder-minus"></i>
                      <span class="menu-text">Hapus Kode</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="restokBarang.html">
                      <i class="fa-solid fa-box-open"></i>
                      <span class="menu-text">Restok Barang</span>
                    </a>
                  </li>
                  <li class="nav-item d-none">
                    <a class="nav-link" href="buyback.html">
                      <i class="fas fa-exchange-alt"></i>
                      <span class="menu-text">Buyback</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#orderSubmenu"
                aria-expanded="false"
              >
                <i class="fa-solid fa-bell-concierge"></i>
                <span class="menu-text">Layanan</span>
                <i class="fas fa-angle-down ms-auto submenu-icon"></i>
              </a>
              <div class="collapse" id="orderSubmenu" data-bs-parent="#sidebarAccordion">
                <ul class="nav flex-column ms-3">
                  <li class="nav-item">
                    <a class="nav-link" href="order-barang.html">
                      <i class="fa-solid fa-boxes-stacked"></i>
                      <span class="menu-text">Order Barang</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#promosiSubmenu"
                aria-expanded="false"
              >
                <i class="fas fa-ad"></i>
                <span class="menu-text">Promosi</span>
                <i class="fas fa-angle-down ms-auto submenu-icon"></i>
              </a>
              <div class="collapse" id="promosiSubmenu" data-bs-parent="#sidebarAccordion">
                <ul class="nav flex-column ms-3">
                  <li class="nav-item">
                    <a class="nav-link" href="promosi.html">
                      <i class="fas fa-cog"></i>
                      <span class="menu-text">Setting Promosi</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="promosi-display.html">
                      <i class="fas fa-desktop"></i>
                      <span class="menu-text">Display Promosi</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#antrianSubmenu"
                aria-expanded="false"
              >
                <i class="fas fa-ticket-alt"></i>
                <span class="menu-text">Antrian</span>
                <i class="fas fa-angle-down ms-auto submenu-icon"></i>
              </a>
              <div class="collapse" id="antrianSubmenu" data-bs-parent="#sidebarAccordion">
                <ul class="nav flex-column ms-3">
                  <li class="nav-item">
                    <a class="nav-link" href="admin.html">
                      <i class="fas fa-user-cog"></i>
                      <span class="menu-text">Admin Antrian</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="display.html">
                      <i class="fas fa-desktop"></i>
                      <span class="menu-text">Display Antrian</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="analisis.html">
                      <i class="fas fa-chart-bar"></i>
                      <span class="menu-text">Laporan Antrian</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#aksesorisSubmenu"
                aria-expanded="false"
              >
                <i class="fas fa-gem"></i>
                <span class="menu-text">Aksesoris</span>
                <i class="fas fa-angle-down ms-auto submenu-icon"></i>
              </a>
              <div class="collapse" id="aksesorisSubmenu" data-bs-parent="#sidebarAccordion">
                <ul class="nav flex-column ms-3">
                  <li class="nav-item">
                    <a class="nav-link" href="tambahAksesoris.html">
                      <i class="fas fa-plus-circle"></i>
                      <span class="menu-text">Tambah Aksesoris</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dataPenjualan.html">
                      <i class="fas fa-shopping-cart"></i>
                      <span class="menu-text">Penjualan Aksesoris</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="return.html">
                      <i class="fa-solid fa-arrow-rotate-left"></i>
                      <span class="menu-text">Return Aksesoris</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="laporanPenjualan.html">
                      <i class="fas fa-chart-line"></i>
                      <span class="menu-text">Laporan Penjualan</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="laporanStok.html">
                      <i class="fas fa-boxes"></i>
                      <span class="menu-text">Laporan Stok</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="sidebar-footer">
          <p>© 2025 Melati Gold Shop</p>
        </div>
      </aside>
